@import url("../css/bootstrap.min.css");
@import url("../fonts/feather/feather.css");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url("../fonts/proxima/stylesheet.css");
@import url("../fonts/rockwell/stylesheet.css");
@import url("../css/animate.css");

$nova-reg: "Proxima Nova Rg";
$rock-reg: "Rockwell";

@mixin proxima-600 {
  font-family: "Proxima Nova Lt" !important;
}

body {
  background-color: #fff;
  height: 100%;
  margin: 0;
  padding: 0;
  color: #000;
  font-size: 16px;
  line-height: 32px;
  font-weight: 400;
  font-family: $nova-reg;
  overflow-x: hidden;
}

.container {
  &.container-1260 {
    max-width: 1260px;
  }

  &.container-825 {
    max-width: 825px;
  }
}

p {
  font-size: 16px;
  line-height: 32px;
}

p.big {
  font-size: 20px;
  line-height: 32px;
}

p.small {
  font-size: 14px;
  line-height: 24px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #425e70;
}

h1 {
  font-size: 54px;
  line-height: 62px;
  font-weight: 700;
}

h2 {
  font-size: 42px;
  line-height: 56px;
  font-weight: 700;
}

h3 {
  font-size: 40px;
  line-height: 48px;
  font-weight: 700;
}

h4 {
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
}

h5 {
  font-size: 14px;
  line-height: 32px;
  font-weight: 700;
}

h6 {
  font-size: 12px;
  line-height: 26px;
  font-weight: 700;
}

label {
  font-size: 12px;
  font-weight: 600;
  line-height: 15px;
  @include proxima-600();
}

img {
  width: 100%;
}

a {
  text-decoration: none;
  transition: all 0.2s;
  color: #000;
  font-size: 16px;
  line-height: 32px;

  &:hover {
    color: #000;
    text-decoration: none;
  }

  &:focus {
    outline: none;
    text-decoration: none;
  }
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

fieldset {
  border: 0 none;
  margin: 0 auto;
  padding: 0;
}

.no-pointer-event {
  pointer-events: none;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

/*   normalize  */
.btn.btn-primary {
  height: 50px;
  color: #fff !important;
  background-color: #0281c2 !important;
  border-color: #0281c2 !important;
  border-radius: 4px !important;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  padding: 12px 40px 13px 40px;
  transition: all 0.8s;

  &:hover {
    box-shadow: 0 3px 15px 0 rgba(2, 129, 194, 0.3);
    transition: all 0.8s;
  }

  &:focus {
    box-shadow: 0 3px 15px 0 rgba(2, 129, 194, 0.3);
  }
}

.btn.btn-primary-out-line {
  height: 50px;
  color: #0281c2 !important;
  background-color: #fff !important;
  border-color: #0281c2 !important;
  border-radius: 4px !important;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  padding: 12px 40px 13px 40px;
  transition: all 0.8s;

  &:hover {
    box-shadow: 0 3px 15px 0 rgba(2, 129, 194, 0.3);
    background-color: #0281c2 !important;
    color: #fff !important;
    transition: all 0.8s;
  }

  &:focus {
    box-shadow: 0 3px 15px 0 rgba(2, 129, 194, 0.3);
    background-color: #0281c2 !important;
    color: #fff !important;
  }
}

.btn.btn-secondary-out-line {
  height: 50px;
  color: rgb(1, 36, 54) !important;
  background-color: #fff !important;
  border-color: #012436 !important;
  border-radius: 4px !important;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  padding: 12px 40px 13px 40px;
  transition: all 0.8s;

  &:hover {
    box-shadow: 0 3px 15px 0 rgba(1, 36, 54, 0.3);
    background-color: #012436 !important;
    color: #fff !important;
    transition: all 0.8s;
  }

  &:focus {
    box-shadow: 0 3px 15px 0 rgba(1, 36, 54, 0.3);
    background-color: #012436 !important;
    color: #fff !important;
  }
}

.btn-pad-60 {
  padding: 12px 60px !important;
}

.btn-pad-90 {
  padding: 12px 90px !important;
}

.btn-pad-45 {
  padding: 12px 45px !important;
}

.btn-full {
  width: 100%;
}

.svg-icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-size: cover;
  background-color: #425e70;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.icon-catering {
  -webkit-mask: url(../images/icons/catring.svg) no-repeat 50% 50%;
  mask: url(../images/icons/catring.svg) no-repeat 50% 50%;
  width: 24px;
  height: 24px;
}

.custom-checkbox {
  padding-left: 30px;

  .custom-control-label {
    font-weight: 400;
    color: #333;
    font-size: 16px;
    line-height: 17px;

    &::before {
      top: 7px;
      width: 20px;
      height: 20px;
      left: -30px;
    }

    &::after {
      top: 7px;
      width: 20px;
      height: 20px;
      left: -30px;
    }

    a {
      font-size: 16px;
      font-weight: 400;
      text-decoration: underline;
      color: #000;
    }
  }
}

.custom-control-input {
  &:checked {
    & ~ .custom-control-label {
      &::before {
        background-color: #000;
        border-color: #000;
      }
    }
  }
}

/* ############################ header section ############################### */

.fixed-top {
  background-color: #425e70 !important;
  box-shadow: 0 7px 12px rgba(0, 0, 0, 0.02);
  position: fixed !important;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.header {
  position: relative;

  .top-header {
    background-color: #fff;
    height: 80px;

    .top-header-inner {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      min-height: 80px;
    }

    .logo-div {
      width: 125px;
      min-width: 125px;
      display: flex;
      align-items: center;
      flex-wrap: wrap;
    }

    .menu-div {
      width: calc(100% - 125px);
      display: flex;
      align-items: center;
      justify-content: flex-end;

      .search-bar {
        width: 100%;

        .input-group {
          margin-bottom: 0;

          .input-group-addon {
            left: 15px;
            top: 8px;
            right: auto;
          }

          .form-control {
            border-radius: 20px;
            height: 40px;
            padding: 5px 20px 5px 50px;
            color: #012436;
            font-size: 18px;

            &::-webkit-input-placeholder {
              color: rgba(1, 36, 54, 0.33);
            }

            &::-moz-placeholder {
              color: rgba(1, 36, 54, 0.33);
            }

            &:-ms-input-placeholder {
              color: rgba(1, 36, 54, 0.33);
            }

            &:-moz-placeholder {
              color: rgba(1, 36, 54, 0.33);
            }
          }
        }
      }

      .menu-top {
        margin: 0;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;

        li {
          display: inline-block;
          padding: 10px 10px;

          &.last-li {
            padding-right: 0;
          }

          .font-18 {
            font-size: 18px;
          }

          &.li-profile {
            min-width: 130px;
          }
        }

        .btn-user-btn {
          padding: 0;
          margin: 0;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-wrap: wrap;
          outline: none;
          box-shadow: none;

          .img-span {
            width: 40px;
            display: flex;
            flex-wrap: wrap;

            .img-fluid {
              height: 40px;
              width: 40px;
              object-fit: cover;
            }
          }

          .txt {
            width: calc(100% - 40px);
            padding: 0 0 0 10px;
            max-width: 140px;
            white-space: nowrap;
            overflow-x: hidden;
            text-overflow: ellipsis;
          }
        }

        .btn-icon {
          font-size: 18px;
          line-height: 24px;
          background-color: #fff;
          border-color: rgba(1, 36, 54, 0.1);
          border-radius: 100px;
          height: 40px;
          width: 40px;
          display: flex;
          align-items: center;
          justify-content: center;
        }

        .btn-login {
          padding: 8px 47px;
          font-size: 18px;
          line-height: 24px;
          background-color: #fff;
          border-color: rgba(1, 36, 54, 0.1);
          border-radius: 100px;
        }
      }
    }
  }

  .sub-header {
    background-color: #012436;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .navbar {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    padding: 0;
    display: flex;
    background-color: transparent;
    white-space: nowrap;
    z-index: 999;
    // box-shadow: 0 7px 12px rgba(0, 0, 0, 0.02);
    // border-bottom: 1px solid rgba(236, 236, 236, 0.6);

    .navbar-brand {
      width: 180px;
      height: auto;

      img {
        width: 90px;
        display: flex;
        height: auto;
      }
    }

    .collapse1 {
      height: 100%;

      .navbar-nav {
        align-items: center;
        width: 100%;

        .nav-item {
          width: 100%;
          position: relative;

          &::before {
            content: "";
            background-color: rgba(255, 255, 255, 0.4);
            height: 32px;
            width: 1px;
            top: 14px;
            right: 0;
            display: block;
            position: absolute;
            z-index: 2;
          }

          &:first-child {
            border-left: 0 solid rgba(255, 255, 255, 0.4);
          }

          &:last-child {
            &::before {
              display: none;
            }
          }

          a {
            color: #fff;
            font-size: 16px;
            line-height: 27px;
            padding: 16px 18px;
            width: 100%;
            text-align: center;
            font-weight: 400;
            height: 60px;
            background-color: #012436;
            letter-spacing: -0.4px;
            position: relative;
            border: 1px solid #012436;
            border-left: 0;
            border-right: 0;

            &::after {
              content: "";
              display: none;
              height: 2px;
              background-color: #fff;
              position: absolute;
              bottom: 0;
              left: 20px;
              width: 0;
              opacity: 0;
            }

            &:hover {
              color: #012436;
              font-weight: 400;
              background-color: #fff;

              &::after {
                width: 22px;
                transition: all 0.5s ease-in-out;
                opacity: 1;
              }
            }
          }

          a.active {
            transition: all 0.4s ease-in-out;
            color: #fff;

            &::after {
              width: 22px;
              opacity: 1;
            }
          }

          // submenu

          .sub-menu.sub-menu-lg {
            background-color: #fff;
            padding: 35px 25px 20px 25px;
            max-width: 500px;
            min-width: 500px;
            width: 100%;
            margin-top: 0;

            li {
              background-color: transparent;
              border-color: transparent;
              border-bottom: 1px solid rgba(1, 36, 54, 0.05) !important;
              float: left;
              width: 33%;
              min-width: 33%;
              max-height: 51px;
              outline: 0;

              &::before {
                display: none;
              }

              &::after {
                display: none;
              }

              a {
                display: block;
                background-color: #fff;
                color: #012436;
                border: 0 !important;
                padding: 15px 20px;
                font-size: 16px;
                line-height: 20px;
                height: unset;
                width: 100%;

                &:hover {
                  background-color: #fafafa;
                  color: #012436;
                }
              }

              &:nth-child(7),
              &:nth-child(8),
              &:nth-child(9) {
                border-color: transparent !important;
              }
            }
          }

          .sub-menu {
            background-color: #fff;
            padding: 35px 15px 20px 15px;
            width: 100%;
            margin-top: 0;

            li {
              background-color: transparent;
              border-color: transparent;
              border-bottom: 1px solid rgba(1, 36, 54, 0.05) !important;
              float: left;
              width: 100%;
              outline: 0;

              &::before {
                display: none;
              }

              &::after {
                display: none;
              }

              a {
                display: block;
                background-color: #fff;
                color: #012436;
                border: 0 !important;
                padding: 15px 20px;
                font-size: 16px;
                line-height: 20px;
                height: unset;
                width: 100%;

                &:hover {
                  background-color: #fafafa;
                  color: #012436;
                }
              }

              &:nth-child(7),
              &:nth-child(8),
              &:nth-child(9) {
                border-color: transparent !important;
              }
            }
          }
        }

        .active {
          a {
            color: #012436;
            font-weight: 400;
            background-color: #fff;
          }
        }
        
        .nav-btn {
          padding-left: 20px !important;

          a.btn {
            font-size: 16px;
            min-height: 30px;
            line-height: 32px;
            border-radius: 4px;
            background-color: transparent !important;
            padding: 8px 40px !important;
            color: rgba(15, 45, 31, 1) !important;
            border-color: rgba(15, 45, 31, 0.7) !important;
          }
        }
      }
    }
  }

  &.header-color {
    .sub-header {
      background-color: #0281c2;
    }

    .navbar {
      .collapse1 {
        .navbar-nav {
          .nav-item {
            &:hover {
              &::before {
                background-color: #67b3da;
              }
            }

            a {
              background-color: #2d81c2;
              border: 1px solid #2d81c2;

              &:hover {
                background-color: rgba(255, 255, 255, 0.1);
                border: 1px solid rgba(255, 255, 255, 0.4);
                color: #fff;
              }
            }

            &.active {
              &::before {
                background-color: #67b3da;
              }

              a {
                background-color: rgba(255, 255, 255, 0.1);
                border: 1px solid rgba(255, 255, 255, 0.4);
                color: #fff;
              }
            }
          }
        }
      }
    }
  }
}

.nav-group {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.user-account {
  padding-left: 10px;

  ul {
    list-style: none;
    display: inline-block;

    li {
      display: inline-block;

      a {
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        font-size: 22px;
        padding: 7px 20px;  

        &:hover {
          color: #fff;
        }
      }
    }
  }
}

.header-inner {
  display: flex;
  flex-direction: column;
  width: 100%;
}

/* menu responsive */

.navbar-expand-md .navbar-toggler {
  display: none;
}

.sidenav-new-menu .closebtn {
  display: none;
}

/* ############################## Home section ############################### */

.form-group {
  margin-bottom: 20px;

  label {
    font-size: 14px;
    color: #333;
    letter-spacing: 0;
    font-weight: 600;

    @include proxima-600();
    margin-bottom: 10px;
  }

  .form-control {
    border: 1px solid #dadada;
    height: 50px;
    background-color: #fff;
    font-size: 16px;
    box-shadow: none;
    outline: 0;
    padding: 14px 16px;
    border-radius: 6px;
    font-weight: 400;

    &:focus {
      border-color: #000;
      color: #000;
    }
  }

  .form-control.invalid {
    border-color: #ff4747 !important;
  }

  .form-control.invalid ~ .invalid-feedback {
    display: block;
    width: 100%;
    margin-top: 5px;
    font-size: 80%;
  }

  .form-control.strong {
    border-color: #ffb540 !important;
  }

  .form-control.strong ~ .strong-feedback {
    display: block;
    width: 100%;
    margin-top: 5px;
    font-size: 80%;
    color: #ffb540;
  }

  .form-control.confrim {
    border-color: #02b437 !important;
  }

  .form-control.confrim ~ .valid-feedback {
    display: block;
    width: 100%;
    margin-top: 5px;
    font-size: 80%;
  }
}

.input-group {
  .input-group-addon {
    position: absolute;
    right: 15px;
    top: 13px;
    z-index: 99;

    a {
      text-decoration: none;
      color: #727272;
    }

    i {
      font-size: 20px;
    }
  }

  .form-control {
    padding-right: 40px;
  }
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: #2d81c2 !important;
  color: #fff;
}

.select2 {
  width: 100% !important;
}

.select2-container {
  border: 0;
}

.select2-container--default .select2-selection--single {
  outline: 0;
  height: 48px !important;
  border: 1px solid #dadada !important;
  border-radius: 4px !important;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  border: 0 solid #dadada;
  height: 46px;
  background-color: #fff;
  border-radius: 4px;
  font-size: 16px;
  line-height: 48px !important;
  font-weight: 500;
  padding-left: 20px !important;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 48px !important;
  width: 30px !important;

  b {
    border-color: #333 transparent transparent transparent !important;
  }
}

.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
  border-color: transparent transparent #333 transparent !important;
  border-width: 0 4px 5px 4px;
}

/*  middle section start here */

.inner-page {
  padding-top: 0;
}

@mixin heading {
  h3 {
    font-size: 34px;
    line-height: 40px;
    font-weight: 700;
    color: #012436;
    position: relative;

    span {
      background-color: #fff;
      padding: 8px 20px;
      display: inline-block;
      z-index: 2;
      position: relative;
    }

    &::before {
      content: "";
      background-color: rgba(1, 36, 54, 0.2);
      height: 1px;
      width: 100%;
      position: absolute;
      left: 0;
      top: 28px;
      right: 0;
      z-index: 1;
    }
  }
}

.middle-section {
  height: auto;
  padding-top: 140px;

  .no-gutter {
    padding: 0 !important;

    .row {
      .no-pad {
        padding: 0 !important;
      }
    }
  }

  // banner-section

  .home-banner-section {
    .banner-div {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;

      .banner-image {
        position: relative;
        width: 100%;

        &::after {
          content: "";
          display: block;
          height: 100%;
          width: 100%;
          background-color: rgba(0, 26, 39, 0.4);
          z-index: 2;
          position: absolute;
          left: 0;
          top: 0;
        }

        img {
          height: 100%;
          min-height: 660px;
          width: 100%;
          max-height: 660px;
          object-fit: cover;
        }
      }

      .banner-caption {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: auto;
        width: 100%;
        height: 100%;
        margin: 0 auto;
        z-index: 99;
        padding: 100px 0;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;

        .content {
          position: relative;

          h2 {
            font-size: 63px;
            line-height: 76px;
            font-weight: 800;
            color: #fff;
            font-family: $rock-reg;
          }

          p {
            font-size: 14px;
            color: rgba(255, 255, 255, 0.6);
            line-height: 27px;
            letter-spacing: 0;
          }
        }
      }
    }

    .owl-theme {
      margin: 0;
      padding: 0;

      .owl-dots {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 30px;

        .owl-dot {
          box-shadow: none;
          outline: 0 !important;

          span {
            background-color: transparent;
            border: 1px solid #fff;
          }
        }

        .owl-dot.active {
          span {
            background-color: #fff;
          }
        }
      }
    }
  }

  .shop-now-section {
    padding: 120px 0 80px 0;
    background-color: #fafafa;
    position: relative;

    &::before {
      content: "";
      background: url(../images/pattern/pattern-01.png) no-repeat;
      background-size: contain;
      display: inline-block;
      height: 252px;
      width: 252px;
      position: absolute;
      top: -126px;
      right: 10px;
      z-index: 9;
      animation: rotation 16s infinite linear;

      @-webkit-keyframes rotation {
        from {
          transform: rotate(0deg);
        }

        to {
          transform: rotate(359deg);
        }
      }
    }

    .shop-now-inner {
      position: relative;
    }

    .heading {
      @include heading();

      margin-bottom: 60px;

      h3 {
        span {
          background-color: #fafafa;
          padding-left: 5px;
          padding-right: 25px;
        }
      }
    }

    .shop-card {
      .shop-card-body {
        position: relative;

        .img-card {
          width: 100%;
          min-width: 100%;

          img {
            width: 100%;
          }
        }

        .hover-box {
          position: absolute;
          left: 0;
          top: 0;
          right: 0;
          display: flex;
          justify-content: center;
          flex-direction: column;
          align-items: center;
          height: 100%;
          width: 100%;
          background-color: rgba(1, 36, 54, 0.75);
          color: #fff;
          text-align: center;
          opacity: 0;
          transition: all 0.3s;
          padding-top: 30px;

          h4 {
            width: 100%;
            color: #fff;
            font-size: 18px;
            line-height: 22px;
            font-family: $rock-reg;
            font-weight: 400;
          }
        }

        &:hover {
          .hover-box {
            opacity: 1;
            transition: all 0.3s;
            padding-top: 0;
          }
        }
      }

      .shop-card-footer {
        padding: 40px 20px 20px 20px;

        h3 {
          font-size: 34px;
          line-height: 42px;
          font-family: $rock-reg;
          font-weight: 400;
          text-align: center;
        }

        p {
          font-size: 18px;
          line-height: 24px;
          color: rgba(1, 36, 54, 0.5);
          font-weight: 500;
          position: relative;
          text-align: center;

          span {
            background-color: #fafafa;
            padding: 8px 20px;
            display: inline-block;
            z-index: 2;
            position: relative;
            text-align: center;
          }

          &::before {
            content: "";
            background-color: rgba(1, 36, 54, 0.2);
            height: 1px;
            width: 100%;
            position: absolute;
            left: 0;
            top: 20px;
            right: 0;
            z-index: 1;
          }
        }
      }
    }

    .owl-theme {
      .owl-nav {
        position: absolute;
        top: calc(50% - 50px);
        right: 0;
        left: 0;
        flex-direction: row;
        display: flex;
        justify-content: space-between;
        width: 100%;

        .owl-prev {
          left: -60px;
          position: absolute;
        }

        .owl-next {
          right: -60px;
          position: absolute;
        }

        button {
          height: 47px;
          width: 47px;
          border: 1px solid rgba(1, 36, 55, 0.2);
          background-color: transparent;
          border-radius: 100%;
          box-shadow: none;
          outline: 0;
          display: flex;
          align-items: center;
          justify-content: center;
          color: #000;
          transition: all 0.3s;

          i {
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 20px;
          }

          &:hover {
            background-color: rgba(1, 36, 55, 1);
            transition: all 0.3s;
            border: 1px solid rgba(1, 36, 55, 1);
            color: #fff;
          }
        }
      }
    }
  }

  .our-product-section {
    background-color: #fff;
    padding: 110px 0 80px 0;
    position: relative;

    &::before {
      content: "";
      background: url(../images/pattern/pattern-02.png) no-repeat;
      background-size: contain;
      display: inline-block;
      height: 121px;
      width: 77px;
      position: absolute;
      top: -40px;
      left: 0;
      z-index: 9;
    }

    &::after {
      content: "";
      background: url(../images/pattern/pattern-03.png) no-repeat;
      background-size: contain;
      display: inline-block;
      height: 80px;
      width: 147px;
      position: absolute;
      bottom: 0;
      right: 0;
      z-index: 9;
    }

    .our-product-inner {
      position: relative;
    }

    .row-7 {
      margin: 0 -7px;

      .pad-7 {
        padding: 0 7px;
      }
    }

    .heading {
      @include heading();

      margin-bottom: 50px;

      h3 {
        span {
          padding-left: 0;
          padding-right: 40px;
        }
      }
    }

    .product-card {
      border: 1px solid rgba(1, 36, 54, 0.1);
      border-radius: 4px;
      overflow: hidden;
      margin-bottom: 30px;

      .product-body {
        padding: 0;
        background-color: #fff;
        position: relative;
        overflow: hidden;
        cursor: pointer;

        .product-cart {
          position: absolute;
          right: 0;
          bottom: -80px;
          padding: 10px;
          transition: all 0.3s;
          opacity: 0;

          a.btn-sm {
            padding: 5px;
            border: 1px solid rgba(1, 36, 54, 0.1);
            color: #012436;
            font-size: 20px;
            font-weight: 600;
            @include proxima-600();
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 5px;

            &:hover {
              background-color: #012436;
              color: #fff;
            }

            &:last-child {
              margin-bottom: 0;
            }
          }
        }

        &:hover {
          .product-cart {
            bottom: 0;
            transition: all 0.3s;
            opacity: 1;
          }
        }
      }

      .product-footer {
        padding: 20px;
        border-top: 1px solid rgba(1, 36, 54, 0.1);

        h3 {
          font-size: 24px;
          line-height: 26px;
          color: rgba(1, 36, 54, 1);
          font-weight: 600;
          @include proxima-600();

          margin: 0 0 15px 0;
        }

        p {
          font-size: 18px;
          line-height: 22px;
          color: rgba(1, 36, 54, 0.7);
          font-family: $rock-reg;
          -webkit-line-clamp: 1;
          -webkit-box-orient: vertical;
          overflow: hidden;
          text-overflow: ellipsis;
          display: block;
          display: -webkit-box;
          max-width: 100%;
          margin-bottom: 8px;
        }

        .ratting {
          display: flex;
          align-items: center;
          justify-content: flex-start;

          a {
            color: rgba(1, 36, 54, 0.2);
            margin-right: 0;
            display: flex;
            align-items: center;
          }

          .filled {
            color: #fbb868;
          }

          span {
            font-size: 13px;
            line-height: 14px;
            margin-left: 8px;
            color: #969696;
          }

          .fa-star:before {
            content: "\e838";
            font-family: "Material Icons";
            font-weight: normal;
            font-style: normal;
            font-size: 17px;
            line-height: 1;
            letter-spacing: normal;
            text-transform: none;
            display: inline-block;
            white-space: nowrap;
            word-wrap: normal;
            direction: ltr;
            -webkit-font-feature-settings: "liga";
            -webkit-font-smoothing: antialiased;
          }

          .fa-star-half-alt:before {
            content: "\e839";
            font-family: "Material Icons";
            font-weight: normal;
            font-style: normal;
            font-size: 17px;
            line-height: 1;
            letter-spacing: normal;
            text-transform: none;
            display: inline-block;
            white-space: nowrap;
            word-wrap: normal;
            direction: ltr;
            -webkit-font-feature-settings: "liga";
            -webkit-font-smoothing: antialiased;
          }
        }
      }
    }

    .bottom-view-div {
      .bottom-view-inner-div {
        padding: 0;
        margin: 0 auto;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;

        .center-view-div {
          padding: 10px 0;
          margin: 0 auto;
          width: 100%;
          display: flex;
          max-width: 345px;
          justify-content: center;
          align-items: center;
          flex-wrap: wrap;
          position: relative;

          &::before {
            content: "";
            background-color: rgba(1, 36, 54, 0.2);
            width: 100%;
            height: 1px;
            display: block;
            position: absolute;
          }

          .link.view-link {
            color: rgba(1, 36, 54, 0.5);
            font-size: 18px;
            line-height: 1.5;
            font-weight: 400;
            position: relative;
            z-index: 2;
            background: #fff;
            padding: 2px 30px;
          }
        }
      }
    }
  }

  .bait-section {
    padding: 60px 0;
    height: 307px;
    background-image: url(../images/fish-bg.jpg);
    background-position: 100% 100%;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      width: 100%;
      height: 100%;
      display: block;
      background-image: linear-gradient(
        92deg,
        #0281c2 2%,
        #0281c2 15%,
        #0281c2 24%,
        #0281c2 39%,
        #0281c2 51%,
        rgba(2, 129, 194, 0.88) 60%,
        rgba(2, 129, 194, 0.76) 69%,
        rgba(2, 129, 194, 0.62) 78%,
        rgba(2, 129, 194, 0.58) 84%,
        rgba(2, 129, 194, 0.5) 89%,
        rgba(2, 129, 194, 0.4) 98%
      );
    }

    &::before {
      content: "";
      background-image: url(../images/quote.svg);
      background-repeat: no-repeat;
      background-size: contain;
      background-position: left -20%;
      z-index: 3;
      position: absolute;
      left: 0;
      top: 0;
      height: 211px;
      width: 270px;
    }

    .bait-inner {
      z-index: 2;
      position: relative;
    }

    .content-div-height {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      min-height: 190px;
    }

    .content {
      h3 {
        font-size: 54px;
        line-height: 74px;
        color: #fff;
        font-family: $rock-reg;
        margin-bottom: 35px;
        font-weight: 500;
      }

      a {
        color: #fff;
        font-size: 24px;
        line-height: 26px;
        text-decoration: underline;
        font-style: italic;

        i {
          margin-left: 25px;
          color: #c0f3ff;
        }
      }
    }
  }

  .our-customer-section {
    padding: 120px 0;
    background-color: #fff;
    position: relative;

    &::before {
      content: "";
      background: url(../images/pattern/pattern-04.png) no-repeat;
      background-size: contain;
      display: inline-block;
      height: 96px;
      width: 130px;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 9;
    }

    .row-7 {
      margin: 0 -7px;

      .pad-7 {
        padding: 0 7px;
      }
    }

    .owl-theme {
      .owl-nav {
        position: absolute;
        top: calc(50% - 50px);
        right: 0;
        left: 0;
        flex-direction: row;
        display: flex;
        justify-content: space-between;
        width: 100%;

        .owl-prev {
          left: -60px;
          position: absolute;
        }

        .owl-next {
          right: -60px;
          position: absolute;
        }

        button {
          height: 47px;
          width: 47px;
          border: 1px solid rgba(1, 36, 55, 0.2);
          background-color: transparent;
          border-radius: 100%;
          box-shadow: none;
          outline: 0;
          display: flex;
          align-items: center;
          justify-content: center;
          color: #000;
          transition: all 0.3s;

          i {
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 20px;
          }

          &:hover {
            background-color: rgba(1, 36, 55, 1);
            transition: all 0.3s;
            border: 1px solid rgba(1, 36, 55, 1);
            color: #fff;
          }
        }
      }

      .item {
        padding: 0 15px;
      }
    }

    .heading {
      @include heading();

      margin-bottom: 40px;

      h3 {
        span {
          padding-left: 0;
          padding-right: 40px;
        }
      }
    }
  }

  .shipping-detail-section {
    background-color: #f9f9f9;
    background-image: url(../images/footer-bg-2.svg);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: 100%;
    min-height: calc(100vh - 200px);
    padding-bottom: 60px;

    .tabs-shipping {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 30px 0;
      border: 0;

      li {
        margin-right: 40px;

        &:last-child {
          margin-right: 0;
        }

        a {
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 10px 20px;
          font-size: 18px;
          line-height: 24px;

          span {
            background-color: #0281c2;
            height: 40px;
            width: 40px;
            border-radius: 100px;
            color: #fff;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 20px;
            position: relative;
            overflow: hidden;

            &:after {
              content: "\f00c";
              background-color: #0281c2;
              font-family: "Font Awesome 5 Free";
              align-items: center;
              justify-content: center;
              height: 40px;
              width: 40px;
              min-width: 40px;
              position: absolute;
              left: 0;
              top: 0;
              font-size: 14px;
              font-weight: 600;
              color: #fff;
              display: none;
            }
          }

          &.done {
            span {
              &:after {
                display: flex;
              }
            }
          }
        }
      }
    }

    .card {
      background-color: transparent !important;
      border: 0 !important;

      .card-header {
        background-color: transparent !important;
        border: 0 !important;
      }

      .card-body {
        padding: 0;
        border: 0 !important;
      }
    }

    .tab-ship-content {
      .row-7 {
        margin: 0 -7px;

        .pad-7 {
          padding: 0 7px;
        }
      }

      .content-box-left {
        padding: 36px 40px 90px 40px;
        background-color: #fff;
        box-shadow: 0px 0px 12px 3px rgba(0, 0, 0, 0.08);
        border-radius: 7px;
        margin-bottom: 20px;

        .heading {
          h3 {
            font-size: 24px;
            line-height: 30px;
            color: #012436;
            margin-bottom: 29px;
          }
        }
      }

      .content-box-right {
        background-color: #ffffff;
        box-shadow: 0px 0px 12px 3px rgba(0, 0, 0, 0.08);
        border-radius: 7px;
        padding: 19px 15px;
        margin-bottom: 20px;

        .heading {
          h3 {
            font-size: 18px;
            line-height: 26px;
            color: #012436;
            margin-bottom: 20px;
          }
        }

        .content {
          .list-item {
            margin-bottom: 60px;

            .product-ship {
              position: relative;
              min-height: 60px;
              padding: 10px 0;
              padding-left: 60px;
              border-bottom: 1px solid rgba(1, 36, 54, 0.1);

              .product-ship-img {
                height: 50px;
                width: 50px;
                position: absolute;
                left: 0;
                top: 10px;

                img {
                  width: 100%;
                }
              }

              .product-detail {
                h3 {
                  font-size: 14px;
                  line-height: 20px;
                  color: #012436;
                  margin: 5px;
                }

                p {
                  font-size: 14px;
                  line-height: 20px;
                  color: #012436;
                  margin: 5px;
                }
              }
            }
          }

          .product-total {
            .sub-total {
              padding-bottom: 10px;
              border-bottom: 1px solid rgba(1, 36, 54, 0.1);

              p {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-bottom: 5px;
              }
            }

            .main-total {
              padding: 10px 0;

              p {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-bottom: 0;
              }
            }
          }
        }
      }

      .btn-tab-footer {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding: 50px 0 20px 0;

        .btn {
          margin-left: 15px;

          &:first-child {
            margin-left: 0;
          }
        }
      }
    }

    .cart-product-list {
      ul {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        border-bottom: 1px solid rgba(1, 36, 54, 0.2);

        .cart-img {
          max-width: 100px;
          margin: 0 auto;
          text-align: center;

          span {
            height: 90px;
            width: 90px;
            display: block;
          }
        }

        .cart-content {
          min-width: 200px;

          h3 {
            font-size: 18px;
            line-height: 34px;
            color: #012436;
            margin-bottom: 0;
          }

          P {
            font-size: 18px;
            line-height: 34px;
            color: rgba(1, 36, 54, 0.4);
            margin-bottom: 0;
          }
        }

        .quantity {
          display: flex;
          align-items: center;
          justify-content: center;
          border: 1px solid rgba(1, 36, 54, 0.2);
          border-radius: 4px;
          width: auto;
          max-width: 140px;

          input {
            display: flex;
            text-align: center;
            min-width: 40px;
            width: 40px;
            height: 35px;
            margin: 0 2px;
            border: 1px solid transparent;
          }

          .btn {
            height: 35px;
            width: 45px;
            min-width: 45px;
            margin: 0;
            box-shadow: none;

            &:hover {
              background-color: #0281c2;
              color: #fff;
            }
          }
        }

        .price-product {
          max-width: 130px;
        }

        .text-link {
          &:hover {
            color: #e63946;
          }
        }

        li {
          width: 100%;
          padding: 12px 10px;

          &:last-child {
            max-width: 60px;
          }
        }
      }
    }
  }

  .cart-detail-section {
    padding: 20px 0;

    .cart-box-left {
      padding: 36px 40px 90px 40px;
      background-color: #ffffff;
      box-shadow: 0px 0px 12px 3px rgba(0, 0, 0, 0.08);
      border-radius: 7px;
      margin-bottom: 20px;
      display: flex;
      height: 100%;
      flex-direction: column;

      .heading {
        h3 {
          font-size: 24px;
          line-height: 30px;
          color: #012436;
          margin-bottom: 29px;
        }
      }
    }

    .cart-box-right {
      background-color: #ffffff;
      box-shadow: 0px 0px 12px 3px rgba(0, 0, 0, 0.08);
      border-radius: 7px;
      padding: 30px 30px;
      margin-bottom: 20px;
      display: flex;
      height: 100%;
      flex-direction: column;
      max-height: 600px;

      .heading {
        h3 {
          font-size: 18px;
          line-height: 26px;
          color: #012436;
          margin-bottom: 20px;
        }
      }

      .content {
        display: flex;
        height: 100%;
        flex-direction: column;
        justify-content: space-between;

        .list-item {
          margin-bottom: 60px;

          .product-ship {
            position: relative;
            min-height: 60px;
            padding: 10px 0;
            padding-left: 60px;
            border-bottom: 1px solid rgba(1, 36, 54, 0.1);

            .product-ship-img {
              height: 50px;
              width: 50px;
              position: absolute;
              left: 0;
              top: 10px;

              img {
                width: 100%;
              }
            }

            .product-detail {
              h3 {
                font-size: 14px;
                line-height: 20px;
                color: #012436;
                margin: 5px;
              }

              p {
                font-size: 14px;
                line-height: 20px;
                color: #012436;
                margin: 5px;
              }
            }
          }
        }

        .product-total {
          .sub-total {
            padding-bottom: 10px;
            border-bottom: 1px solid rgba(1, 36, 54, 0.1);

            p {
              display: flex;
              align-items: center;
              justify-content: space-between;
              margin-bottom: 5px;
            }
          }

          .main-total {
            padding: 10px 0;

            p {
              display: flex;
              align-items: center;
              justify-content: space-between;
              margin-bottom: 0;
            }
          }
        }

        .cart-checkout {
          .btn {
            height: 40px;
            padding: 8px 12px;
            font-size: 16px;
          }
        }
      }
    }

    .cart-product-list {
      ul {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        border-bottom: 1px solid rgba(1, 36, 54, 0.2);

        .cart-img {
          max-width: 100px;
          margin: 0 auto;
          text-align: center;

          span {
            height: 90px;
            width: 90px;
            display: block;
          }
        }

        .cart-content {
          min-width: 200px;

          h3 {
            font-size: 18px;
            line-height: 34px;
            color: #012436;
            margin-bottom: 0;
          }

          P {
            font-size: 18px;
            line-height: 34px;
            color: rgba(1, 36, 54, 0.4);
            margin-bottom: 0;
          }
        }

        .quantity {
          display: flex;
          align-items: center;
          justify-content: center;
          border: 1px solid rgba(1, 36, 54, 0.2);
          border-radius: 4px;
          width: auto;
          max-width: 140px;

          input {
            display: flex;
            text-align: center;
            min-width: 40px;
            width: 40px;
            height: 35px;
            margin: 0 2px;
            border: 1px solid transparent;
          }

          .btn {
            height: 35px;
            width: 45px;
            min-width: 45px;
            margin: 0;
            box-shadow: none;

            &:hover {
              background-color: #0281c2;
              color: #fff;
            }
          }
        }

        .text-link {
          &:hover {
            color: #e63946;
          }
        }

        .price-product {
          max-width: 130px;
        }

        li {
          width: 100%;
          padding: 12px 10px;

          &:last-child {
            max-width: 60px;
          }
        }
      }
    }
  }

  .heading-two {
    padding: 25px 0;

    h3 {
      font-size: 24px;
      line-height: 30px;
      color: #012436;
      letter-spacing: 0;
      font-weight: 400;
      font-family: "Rockwell", sans-serif;
      margin: 0 0 0 0;
      position: relative;
      display: flex;
      align-items: center;
      flex-wrap: wrap;

      &::after {
        content: "";
        background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='67px' height='6px' viewBox='0 0 67 6' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3EPath 14%3C/title%3E%3Cg id='design' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd' stroke-opacity='0.3'%3E%3Cpath d='M1,1 C2.83412829,3.66666667 4.50079496,5 6,5 C8.24880756,5 8,1 10,1 C12,1 12,5 14,5 C16,5 16,1 18,1 C20,1 20,5 22,5 C24,5 24,1 26,1 C28,1 28,5 30,5 C32,5 32,1 34,1 C36,1 36,5 38,5 C40,5 40,1 42,1 C44,1 44,5 46,5 C48,5 48,1 50,1 C52,1 52,5 54,5 C56,5 56,1 58,1 C60,1 60,5 62,5 C63.3333333,5 64.6666667,3.66666667 66,1' id='Path-14' stroke='%23012436'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
        width: 67px;
        height: 6px;
        display: inline-block;
        background-size: contain;
        background-position: center;
        margin: 0 0 5px 10px;
      }
    }
  }

  .favorite-section {
    padding-bottom: 60px;
    background-color: #fff;

    .favorite-product-list {
      .row-7 {
        margin: 0 -7px;

        .pad-7 {
          padding: 0 7px;
        }
      }
      .product-card {
        border: 1px solid rgba(1, 36, 54, 0.1);
        border-radius: 4px;
        overflow: hidden;
        margin-bottom: 30px;

        .product-body {
          padding: 0;
          background-color: #fff;
          position: relative;
          overflow: hidden;
          cursor: pointer;

          .product-cart {
            position: absolute;
            right: 0;
            bottom: -80px;
            padding: 10px;
            transition: all 0.3s;
            opacity: 0;

            a.btn-sm {
              padding: 5px;
              border: 1px solid rgba(1, 36, 54, 0.1);
              color: #012436;
              font-size: 20px;
              font-weight: 600;
              @include proxima-600();
              display: flex;
              align-items: center;
              justify-content: center;
              margin-bottom: 5px;

              &:hover {
                background-color: #012436;
                color: #fff;
              }

              &:last-child {
                margin-bottom: 0;
              }
            }
          }

          &:hover {
            .product-cart {
              bottom: 0;
              transition: all 0.3s;
              opacity: 1;
            }
          }
        }

        .product-footer {
          padding: 20px;
          border-top: 1px solid rgba(1, 36, 54, 0.1);

          h3 {
            font-size: 24px;
            line-height: 26px;
            color: rgba(1, 36, 54, 1);
            font-weight: 600;
            @include proxima-600();
            margin: 0 0 15px 0;
          }

          p {
            font-size: 18px;
            line-height: 22px;
            color: rgba(1, 36, 54, 0.7);
            font-family: $rock-reg;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            display: block;
            display: -webkit-box;
            max-width: 100%;
            margin-bottom: 8px;
          }

          .ratting {
            display: flex;
            align-items: center;
            justify-content: flex-start;

            a {
              color: rgba(1, 36, 54, 0.2);
              margin-right: 0;
              display: flex;
              align-items: center;
            }

            .filled {
              color: #fbb868;
            }

            span {
              font-size: 13px;
              line-height: 14px;
              margin-left: 8px;
              color: #969696;
            }

            .fa-star:before {
              content: "\e838";
              font-family: "Material Icons";
              font-weight: normal;
              font-style: normal;
              font-size: 17px;
              line-height: 1;
              letter-spacing: normal;
              text-transform: none;
              display: inline-block;
              white-space: nowrap;
              word-wrap: normal;
              direction: ltr;
              -webkit-font-feature-settings: "liga";
              -webkit-font-smoothing: antialiased;
            }

            .fa-star-half-alt:before {
              content: "\e839";
              font-family: "Material Icons";
              font-weight: normal;
              font-style: normal;
              font-size: 17px;
              line-height: 1;
              letter-spacing: normal;
              text-transform: none;
              display: inline-block;
              white-space: nowrap;
              word-wrap: normal;
              direction: ltr;
              -webkit-font-feature-settings: "liga";
              -webkit-font-smoothing: antialiased;
            }
          }
        }

        .favorite-product-footer {
          display: flex;
          align-items: center;
          justify-content: flex-start;
          padding: 0px 20px 20px 20px;

          .btn-delete {
            border: 1px solid rgba(1, 36, 54, 0.2) !important;
            height: 50px;
            width: 50px;
            margin-right: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #ff6666;
          }

          .btn-primary {
            width: calc(100% - 60px) !important;
            padding: 12px 20px;
          }
        }
      }
    }
  }

  .myaccount-section {
    padding-bottom: 60px;
    background-image: url(../images/footer-bg-2.svg);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: 100%;
    min-height: calc(100vh - 200px);

    .row-7 {
      margin: 0 -7px;

      .pad-7 {
        padding: 0 7px;
      }
    }

    .myaccount-div {
      .myaccount-nav {
        padding: 10px;

        ul {
          display: block;
          border-bottom: 0;

          li {
            a {
              padding: 10px 20px;
              display: block;
              background-color: transparent;
              border-radius: 9px;
              margin-bottom: 10px;
              color: #012436;
              font-size: 18px;
              line-height: 24px;

              &.active {
                background-color: rgba(2, 129, 194, 0.1);
              }
            }
          }
        }
      }

      .my-account-content {
        padding: 26px 30px;
        background-color: #fff;
        box-shadow: 0px 0px 12px 3px rgba(0, 0, 0, 0.08);
        height: 100%;
        border-radius: 6px;
      }

      .my-account-box {
        .heading {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-between;
          margin-bottom: 30px;

          h3 {
            font-size: 24px;
            line-height: 26px;
            color: #012436;
            margin-bottom: 0;
          }

          .btn {
            height: 42px;
            line-height: 16px;
          }
        }

        .order-content {
          .order-list {
            .order-item {
              position: relative;
              padding-left: 110px;
              min-height: 100px;
              display: flex;
              align-items: center;
              height: 100%;
              margin-bottom: 10px;
              background-color: #fff;

              .order-product-img {
                height: 95px;
                width: 95px;
                position: absolute;
                left: 0;
                top: 0;
                overflow: hidden;

                img {
                  width: 100%;
                  height: 100%;
                  object-fit: cover;
                }
              }

              .order-product-content {
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 100%;

                .order-details {
                  display: flex;
                  align-items: flex-start;
                  justify-content: center;
                  flex-direction: column;
                  height: 100%;

                  h3 {
                    font-size: 18px;
                    line-height: 34px;
                    color: #012436;
                    margin-bottom: 0px;
                  }

                  p {
                    font-size: 18px;
                    line-height: 34px;
                    color: rgba(1, 36, 54, 0.34);
                    margin-bottom: 0;
                  }

                  .fa-circle {
                    font-size: 10px;
                    line-height: 34px;
                  }

                  .yellow {
                    color: #ffd324;
                  }

                  .red {
                    color: #e02020;
                  }

                  .green {
                    color: #6dd400;
                  }
                }

                .btn-cancel {
                  height: 42px;
                  line-height: 18px;
                }
              }
            }
          }

          .profile-tab {
            .profile-details {
              display: flex;
              align-items: center;
              justify-content: flex-start;
              margin-bottom: 30px;

              .profile-pic {
                height: 90px;
                width: 90px;
                min-width: 90px;
                margin-right: 30px;

                img {
                  width: 100%;
                  object-fit: cover;
                }
              }

              .profile-btn {
                .btn {
                  height: 42px;
                  line-height: 16px;
                }
              }
            }

            .change-pass {
              h3 {
                font-size: 14px;
                line-height: 24px;
                margin-bottom: 8px;
              }
            }
          }
        }
      }
    }
  }

  .aboutus-banner-section {
    height: 400px;
    background-image: url(../images/about-banner.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .our-story-section {
    .about-content {
      padding: 50px 80px;
      background-color: #fff;
      box-shadow: 0px 0px 12px 3px rgba(0, 0, 0, 0.08);

      .heading {
        margin-bottom: 40px;

        h3 {
          font-size: 24px;
          line-height: 30px;
          color: #012436;
          letter-spacing: 0;
          font-weight: 400;
          font-family: "Rockwell", sans-serif;
          margin: 0 0 0 0;
          position: relative;
          display: flex;
          align-items: center;
          justify-content: center;
          align-items: center;
          flex-wrap: wrap;

          &::after {
            content: "";
            background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='67px' height='6px' viewBox='0 0 67 6' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3EPath 14%3C/title%3E%3Cg id='design' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd' stroke-opacity='0.3'%3E%3Cpath d='M1,1 C2.83412829,3.66666667 4.50079496,5 6,5 C8.24880756,5 8,1 10,1 C12,1 12,5 14,5 C16,5 16,1 18,1 C20,1 20,5 22,5 C24,5 24,1 26,1 C28,1 28,5 30,5 C32,5 32,1 34,1 C36,1 36,5 38,5 C40,5 40,1 42,1 C44,1 44,5 46,5 C48,5 48,1 50,1 C52,1 52,5 54,5 C56,5 56,1 58,1 C60,1 60,5 62,5 C63.3333333,5 64.6666667,3.66666667 66,1' id='Path-14' stroke='%23012436'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
            width: 67px;
            height: 6px;
            display: inline-block;
            background-size: contain;
            background-position: center;
            margin: 5px 10px;
          }

          &::before {
            content: "";
            background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='67px' height='6px' viewBox='0 0 67 6' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3EPath 14%3C/title%3E%3Cg id='design' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd' stroke-opacity='0.3'%3E%3Cpath d='M1,1 C2.83412829,3.66666667 4.50079496,5 6,5 C8.24880756,5 8,1 10,1 C12,1 12,5 14,5 C16,5 16,1 18,1 C20,1 20,5 22,5 C24,5 24,1 26,1 C28,1 28,5 30,5 C32,5 32,1 34,1 C36,1 36,5 38,5 C40,5 40,1 42,1 C44,1 44,5 46,5 C48,5 48,1 50,1 C52,1 52,5 54,5 C56,5 56,1 58,1 C60,1 60,5 62,5 C63.3333333,5 64.6666667,3.66666667 66,1' id='Path-14' stroke='%23012436'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
            width: 67px;
            height: 6px;
            display: inline-block;
            background-size: contain;
            background-position: center;
            margin: 5px 10px;
          }
        }
      }

      .content {
        p {
          font-size: 18px;
          line-height: 26px;
          color: #012436;
        }
      }
    }
  }

  .terms-section {
    background-image: url(../images/bg-terms.svg);
    background-repeat: no-repeat;
    background-size: 120%;
    background-position: center top;
    padding: 50px 0;

    .terms-content {
      .heading {
        margin-bottom: 40px;

        h3 {
          font-size: 24px;
          line-height: 30px;
          color: #012436;
          letter-spacing: 0;
          font-weight: 400;
          font-family: "Rockwell", sans-serif;
          margin: 0 0 0 0;
          position: relative;
          display: flex;
          align-items: center;
          justify-content: center;
          align-items: center;
          flex-wrap: wrap;

          &::after {
            content: "";
            background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='67px' height='6px' viewBox='0 0 67 6' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3EPath 14%3C/title%3E%3Cg id='design' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd' stroke-opacity='0.3'%3E%3Cpath d='M1,1 C2.83412829,3.66666667 4.50079496,5 6,5 C8.24880756,5 8,1 10,1 C12,1 12,5 14,5 C16,5 16,1 18,1 C20,1 20,5 22,5 C24,5 24,1 26,1 C28,1 28,5 30,5 C32,5 32,1 34,1 C36,1 36,5 38,5 C40,5 40,1 42,1 C44,1 44,5 46,5 C48,5 48,1 50,1 C52,1 52,5 54,5 C56,5 56,1 58,1 C60,1 60,5 62,5 C63.3333333,5 64.6666667,3.66666667 66,1' id='Path-14' stroke='%23012436'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
            width: 67px;
            height: 6px;
            display: inline-block;
            background-size: contain;
            background-position: center;
            margin: 5px 10px;
          }

          &::before {
            content: "";
            background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='67px' height='6px' viewBox='0 0 67 6' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3EPath 14%3C/title%3E%3Cg id='design' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd' stroke-opacity='0.3'%3E%3Cpath d='M1,1 C2.83412829,3.66666667 4.50079496,5 6,5 C8.24880756,5 8,1 10,1 C12,1 12,5 14,5 C16,5 16,1 18,1 C20,1 20,5 22,5 C24,5 24,1 26,1 C28,1 28,5 30,5 C32,5 32,1 34,1 C36,1 36,5 38,5 C40,5 40,1 42,1 C44,1 44,5 46,5 C48,5 48,1 50,1 C52,1 52,5 54,5 C56,5 56,1 58,1 C60,1 60,5 62,5 C63.3333333,5 64.6666667,3.66666667 66,1' id='Path-14' stroke='%23012436'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
            width: 67px;
            height: 6px;
            display: inline-block;
            background-size: contain;
            background-position: center;
            margin: 5px 10px;
          }
        }
      }

      .content {
        p {
          font-size: 18px;
          line-height: 26px;
          color: #012436;
        }
      }

      .terms-content-inner {
        padding: 70px 75px;
        background-color: #fff;
        box-shadow: 0px 0px 12px 3px rgba(0, 0, 0, 0.08);
      }
    }
  }

  .getin-touch-section {
    background-image: url(../images/bg-terms.svg);
    background-repeat: no-repeat;
    background-size: 120%;
    background-position: center 150%;
    padding: 50px 0;

    .row-7 {
      margin: 0 -7px;

      .pad-7 {
        padding: 0 7px;
      }
    }

    .getin-touch-content {
      .heading {
        margin-bottom: 40px;

        h3 {
          font-size: 24px;
          line-height: 30px;
          color: #012436;
          letter-spacing: 0;
          font-weight: 400;
          font-family: "Rockwell", sans-serif;
          margin: 0 0 0 0;
          position: relative;
          display: flex;
          align-items: center;
          justify-content: center;
          align-items: center;
          flex-wrap: wrap;

          &::after {
            content: "";
            background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='67px' height='6px' viewBox='0 0 67 6' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3EPath 14%3C/title%3E%3Cg id='design' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd' stroke-opacity='0.3'%3E%3Cpath d='M1,1 C2.83412829,3.66666667 4.50079496,5 6,5 C8.24880756,5 8,1 10,1 C12,1 12,5 14,5 C16,5 16,1 18,1 C20,1 20,5 22,5 C24,5 24,1 26,1 C28,1 28,5 30,5 C32,5 32,1 34,1 C36,1 36,5 38,5 C40,5 40,1 42,1 C44,1 44,5 46,5 C48,5 48,1 50,1 C52,1 52,5 54,5 C56,5 56,1 58,1 C60,1 60,5 62,5 C63.3333333,5 64.6666667,3.66666667 66,1' id='Path-14' stroke='%23012436'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
            width: 67px;
            height: 6px;
            display: inline-block;
            background-size: contain;
            background-position: center;
            margin: 5px 10px;
          }

          &::before {
            content: "";
            background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='67px' height='6px' viewBox='0 0 67 6' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3EPath 14%3C/title%3E%3Cg id='design' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd' stroke-opacity='0.3'%3E%3Cpath d='M1,1 C2.83412829,3.66666667 4.50079496,5 6,5 C8.24880756,5 8,1 10,1 C12,1 12,5 14,5 C16,5 16,1 18,1 C20,1 20,5 22,5 C24,5 24,1 26,1 C28,1 28,5 30,5 C32,5 32,1 34,1 C36,1 36,5 38,5 C40,5 40,1 42,1 C44,1 44,5 46,5 C48,5 48,1 50,1 C52,1 52,5 54,5 C56,5 56,1 58,1 C60,1 60,5 62,5 C63.3333333,5 64.6666667,3.66666667 66,1' id='Path-14' stroke='%23012436'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
            width: 67px;
            height: 6px;
            display: inline-block;
            background-size: contain;
            background-position: center;
            margin: 5px 10px;
          }
        }
      }

      .content {
        p {
          font-size: 18px;
          line-height: 26px;
          color: #012436;
        }

        .form-group {
          margin-bottom: 10px;
        }

        textarea {
          min-height: 200px;
        }
      }

      .getin-touch-box {
        padding: 70px 75px;
        background-color: #fff;
        box-shadow: 0px 0px 12px 3px rgba(0, 0, 0, 0.08);
        margin-bottom: 10px;
        border-radius: 6px;
      }

      .box-contact {
        padding: 40px 30px 20px 30px;
        min-height: 100px;
        background-color: #fff;
        box-shadow: 0px 0px 12px 3px rgba(0, 0, 0, 0.08);
        margin-bottom: 10px;
        border-radius: 6px;

        p {
          color: #012436;
          font-size: 18px;
          line-height: 20px;
          display: block;
          position: relative;
          padding-left: 30px;
          margin-bottom: 0;

          .fa {
            position: absolute;
            left: 0;
            top: 0px;
            color: #012436;
          }
        }

        a {
          color: #012436;
          font-size: 18px;
          line-height: 20px;
          display: block;
          position: relative;
          padding-left: 30px;
          transition: all 0.5s;

          .fa {
            position: absolute;
            left: 0;
            top: 0px;
            color: #012436;
          }

          &:hover {
            transition: all 0.5s;
            color: #0281c2;
          }

          .r-90 {
            transform: rotate(90deg);
          }
        }
      }
    }
  }
}

.footer-section.footer-two {
  .footer-top {
    background-image: url(../images/footer-bg-2.svg);
    height: 206px;
  }

  .footer-inner {
    display: none;
  }
}

.footer-section {
  .footer-inner {
    padding: 58px 0 0 0;
    background-color: #0281c2;
  }

  .footer-top {
    background-image: url(../images/footer-bg.svg);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    height: 325px;
    position: relative;
    bottom: -20px;
  }

  .logo-footer {
    max-width: 110px;
    height: auto;
    margin-bottom: 30px;
  }

  .footer-detail {
    p {
      color: rgba(255, 255, 255, 0.8);
      font-size: 18px;
      line-height: 26px;
    }
  }

  .footer-content-link {
    padding: 20px 0 0 0;
  }

  .footer-content {
    margin-bottom: 50px;

    h3 {
      font-size: 18px;
      font-weight: 600;
      @include proxima-600();
      line-height: 26px;
      color: #fff;
      margin-bottom: 15px;
    }

    p {
      font-size: 14px;
      line-height: 22px;
    }

    ul {
      margin: 0;
      padding: 0;
      list-style: none;

      li {
        font-size: 18px;
        line-height: 45px;
        display: inline-block;
        width: 100%;
        color: rgba(255, 255, 255, 0.8);

        a {
          display: block;
          color: rgba(255, 255, 255, 0.8);
          font-size: 18px;
          line-height: 45px;
          text-decoration: none;
          transition: all 0.5s ease-in-out;
          word-break: break-all;
          position: relative;

          &::after {
            content: "";
            height: 2px;
            background-color: #fff;
            position: absolute;
            bottom: 0;
            left: 0;
            width: 0;
            transition: all 0.5s ease-in-out;
            opacity: 0;
          }

          &:hover {
            transition: all 0.5s ease-in-out;
            color: rgba(255, 255, 255, 1);

            &::after {
              width: 22px;
              transition: all 0.5s ease-in-out;
              opacity: 1;
            }
          }
        }
      }
    }
  }

  .copy-right-text {
    padding: 20px 0 20px 0;
    border-top: 1px solid rgba(120, 154, 193, 0.2);

    p {
      font-size: 18px;
      font-weight: 500;
      line-height: 30px;
      margin-bottom: 0;
      text-align: center;
      color: rgba(255, 255, 255, 0.6);
      margin-left: 22px;
    }
  }
}

button.mfp-close,
button.mfp-arrow {
  box-shadow: none;
  outline: 0;
}

.thankuyouc-content {
  text-align: center;
  max-width: 250px;
  margin: 0 auto;

  .thankyou-img {
    height: 148px;
    width: 153px;
    margin: 0 auto 50px auto;

    img {
      width: 100%;
    }
  }
  h3 {
    font-size: 24px;
    line-height: 29px;
    color: #012436;
  }

  p {
    font-size: 18px;
    line-height: 26px;
    color: rgba(1, 36, 54, 0.6);
  }
}

// popop

/* ###########################################################################
############################## media query started ###############################
###################################################################################### */

@media (min-width: 1025px) {
  .container {
    max-width: 1100px;
  }

  .header {
    .top-header {
      .menu-div {
        .search-bar {
          padding-right: 15px;
        }
      }
    }

    .fixed-top {
      .top-header {
        display: none;
      }
    }
  }
}

@media (min-width: 1025px) and (max-width: 1290px) {
  .container {
    max-width: 1150px;
  }

  .middle-section {
    .shop-now-section {
      .owl-theme {
        .owl-nav {
          .owl-prev {
            left: -50px;
          }

          .owl-next {
            right: -50px;
          }
        }
      }
    }
  }
}

@media (min-width: 1281px) {
  .container {
    max-width: 1230px;
  }
}

@media (max-width: 320px) {
  .btn-pad-60 {
    padding: 12px 30px !important;
  }

  .header .page-title a {
    font-size: 14px;
  }
}

@media (max-width: 767px) {
  body {
    overflow-x: hidden;
    width: 100%;
  }

  .header {
    .top-header {
      height: 65px;

      .top-header-inner {
        min-height: 65px;
      }

      .logo-div {
        width: 85px;
        min-width: 85px;
      }

      .menu-div {
        width: calc(100% - 85px);

        .menu-top {
          display: flex;
          align-items: center;

          li {
            padding: 5px 3px;

            .font-18 {
              font-size: 14px;
            }

            .mr-xs-10 {
              margin-right: 5px;
            }

            &.li-profile {
              min-width: auto;
            }
          }

          .btn-user-btn {
            .txt {
              display: none;
            }
          }

          .btn-icon {
            height: 36px;
            width: 36px;
            font-size: 14px;
            padding: 0 1px 0 0;
          }

          .btn-login {
            font-size: 14px;
            padding: 6px 12px;
          }
        }

        .search-bar {
          padding: 0 65px 0 20px;
          position: absolute;
          bottom: -50px;
          left: 0;
          width: 100%;

          .input-group {
            .form-control {
              padding: 5px 15px 5px 44px;
              font-size: 14px;
            }
          }
        }
      }
    }

    .navbar {
      padding: 0;
      z-index: 999;

      .row-100 {
        .col-12 {
          padding: 0 15px;
        }
      }

      .col-header {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;

        .col-30 {
          flex: 0 0 20%;
          max-width: 20%;
        }

        .col-70 {
          flex: 0 0 80%;
          max-width: 80%;
        }
      }

      .navbar-brand {
        width: 60px !important;
        height: auto;
        padding: 10px 0 8px 0;
        z-index: 9;

        img {
          width: 100%;
        }
      }

      .navbar-collapse {
        padding: 10px 0;

        .navbar-nav {
          padding: 20px 0 0 0;

          .nav-item {
            padding: 0 0;
            border-bottom: 1px solid rgba(255, 255, 255, 0.03);
            width: 100%;

            a {
              padding: 12px 12px;
              font-size: 16px;
              height: 50px;
              border: 0;

              &::after {
                left: 12px;
              }
            }

            .sub-menu {
              background-color: #fff;
              padding: 0;
              width: 100%;
              position: relative;

              li {
                float: none;
                width: 100%;
                min-width: unset;

                a {
                  display: block;
                  height: unset;
                  width: 100%;

                  &:hover {
                    background-color: #fafafa;
                    color: #012436;
                  }
                }

                &:nth-child(7),
                &:nth-child(8),
                &:nth-child(9) {
                  border-bottom: 1px solid rgba(1, 36, 54, 0.05) !important;
                }
              }
            }

            .sub-menu.sub-menu-lg {
              background-color: #fff;
              padding: 0;
              max-width: unset;
              min-width: unset;
              width: 100%;
              position: relative;

              li {
                float: none;
                width: 100%;
                min-width: unset;

                a {
                  display: block;
                  height: unset;
                  width: 100%;

                  &:hover {
                    background-color: #fafafa;
                    color: #012436;
                  }
                }

                &:nth-child(7),
                &:nth-child(8),
                &:nth-child(9) {
                  border-bottom: 1px solid rgba(1, 36, 54, 0.05) !important;
                }
              }
            }
          }
        }
      }

      .navbar-toggler {
        color: #fff;
        padding: 0;
        outline: 0;
        position: absolute;
        right: 15px;
        top: -20px;
        border: 0;
        display: block;

        .navbar-toggler-icon {
          background-color: transparent;
          background-image: url("../../assets/images/menubar.png");
          background-repeat: no-repeat;
          background-size: contain;
          height: 40px;
          width: 40px;
          border: 0;
        }
      }
    }

    &.header-color {
      .navbar {
        .collapse1 {
          .navbar-nav {
            .nav-item {
              background-color: #2d81c2 !important;

              a {
                color: #fff;

                &:hover {
                  color: #fff;
                }

                &.active {
                  color: #fff;
                }
              }
            }
          }
        }
      }
    }
  }

  .user-account {
    padding-right: 60px;

    ul {
      li {
        a {
          padding: 7px 10px;
          font-size: 20px;
        }
      }
    }
  }

  #cd-shadow-layer {
    position: fixed;
    min-height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(66, 95, 112, 0.5);
    cursor: pointer;
    display: none;
    z-index: 99999;
  }

  .sidenav-new-menu {
    height: 100%;
    min-height: 100vh;
    position: fixed;
    top: 0;
    overflow-y: auto;
    overflow-x: hidden;
    transition: 0.5s;
    z-index: 999999;
    background-color: #fff;
    padding: 40px 0 20px 0 !important;
    flex-basis: auto;
    justify-content: flex-start;
    align-items: flex-start;
    width: 300px;
    right: -400px;
  }

  .width-menu {
    // width: 70%;
    right: 0;
    display: block !important;
  }

  .closebtn {
    display: block !important;
    color: #fff;
    text-decoration: none;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;

    img {
      width: 20px;
      height: 20px;
    }

    &:hover {
      display: block;
      color: #fff;
      text-decoration: none;
    }
  }

  /* middle section start here */

  .middle-section {
    padding-top: 120px;

    .home-banner-section {
      .banner-div {
        .banner-image {
          img {
            min-height: calc(100vh - 120px);
          }
        }

        .banner-caption {
          .content {
            padding-left: 30px;

            h2 {
              font-size: 28px;
              line-height: 36px;
            }

            p {
              font-size: 14px;
              line-height: 22px;
            }
          }
        }
      }

      .information-box {
        .information-content {
          padding: 20px 20px;

          p {
            font-size: 12px;
            line-height: 24px;
            margin-bottom: 0;
          }

          a {
            font-size: 14px;
            line-height: 22px;
          }
        }
      }
    }

    .shop-now-section {
      padding: 80px 0 30px 0;

      &::before {
        height: 120px;
        width: 120px;
        top: -60px;
        right: 20px;
      }

      .heading {
        h3 {
          font-size: 24px;
          line-height: 32px;

          &::before {
            top: 24px;
          }

          span {
            padding-left: 0;
            padding-right: 20px;
          }
        }
      }

      .owl-theme {
        .owl-nav {
          .owl-prev {
            left: 0;
            background-color: #fff;
          }

          .owl-next {
            right: 0;
            background-color: #fff;
          }
        }
      }

      .shop-card {
        .shop-card-footer {
          h3 {
            font-size: 28px;
            line-height: 36px;
            margin: 0 0 8px 0;
          }
        }
      }
    }

    .our-product-section {
      padding: 80px 0 80px 0;

      &::before {
        height: 85px;
        width: 60px;
        top: -25px;
      }

      &::after {
        height: 60px;
        width: 110px;
      }

      .heading {
        margin-bottom: 30px;

        h3 {
          font-size: 24px;
          line-height: 32px;

          &::before {
            top: 24px;
          }

          span {
            padding-left: 0;
            padding-right: 20px;
          }
        }
      }
    }

    .our-customer-section {
      padding: 70px 0 60px 0;

      &::before {
        height: 60px;
        width: 90px;
      }

      .heading {
        h3 {
          font-size: 24px;
          line-height: 32px;

          &::before {
            top: 24px;
          }

          span {
            padding-right: 20px;
          }
        }
      }

      .owl-theme {
        .owl-nav {
          .owl-prev {
            left: 0;
            background-color: #fff;
          }

          .owl-next {
            right: 0;
            background-color: #fff;
          }
        }
      }

      .gallery-item {
        margin: 0 0 13px 0 !important;
      }
    }

    .bait-section {
      background-position: right;

      &::before {
        height: 120px;
        width: 110px;
      }

      .content {
        h3 {
          font-size: 30px;
          line-height: 48px;
          margin-bottom: 20px;
        }

        a {
          font-size: 18px;
          line-height: 26px;
        }
      }
    }

    .cart-product-list {
      ul {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        width: 100%;
        flex-direction: column;
        border-bottom: 1px solid rgba(1, 36, 54, 0.2);
        position: relative;

        li {
          width: 100%;
          text-align: left;
          max-width: unset !important;

          &:last-child {
            position: absolute;
            right: 0;
            top: 0;
            text-align: right;
            width: 20px;
            padding: 20px;
          }
        }
      }
    }

    .shipping-detail-section {
      .tabs-shipping {
        padding: 20px 0;
        flex-direction: row;
        display: flex;
        flex-wrap: nowrap;

        li {
          width: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          margin-right: 0;
          a {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            span {
              text-align: center;
              margin: 0 auto 10px auto;
            }
          }
        }
      }

      .tab-ship-content {
        .content-box-left {
          padding: 30px 30px;
        }
      }

      .btn-tab-footer {
        padding: 30px 0 30px 0 !important;

        .btn-pad-90 {
          padding: 12px 30px !important;
          width: 100%;
        }
      }
    }

    .myaccount-section {
      .myaccount-div {
        .my-account-box {
          .order-content {
            .order-list {
              .order-item {
                padding: 10px 10px 10px 110px;

                .order-product-content {
                  flex-direction: column;

                  .order-details {
                    h3 {
                      line-height: 24px;
                      font-size: 16px;
                    }

                    p {
                      line-height: 24px;
                      font-size: 16px;
                      margin-bottom: 10px;
                    }
                  }

                  .order-action {
                    width: 100%;

                    .btn {
                      padding: 10px 20px;
                      font-size: 16px;
                      line-height: 24px;
                      width: 100%;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }

    .our-story-section {
      .about-content {
        padding: 40px 30px;

        .heading {
          margin-bottom: 30px;

          h3 {
            font-size: 18px;
            line-height: 30px;
          }
        }

        .content {
          p {
            font-size: 16px;
            line-height: 24px;
          }
        }
      }
    }

    .terms-section {
      .terms-content {
        .heading {
          margin-bottom: 30px;

          h3 {
            font-size: 18px;
            line-height: 30px;
          }
        }

        .content {
          p {
            font-size: 16px;
            line-height: 24px;
            color: #012436;
          }
        }

        .terms-content-inner {
          padding: 40px 30px;
          background-color: #fff;
          box-shadow: 0px 0px 12px 3px rgba(0, 0, 0, 0.08);
        }
      }
    }

    .getin-touch-section {
      .getin-touch-content {
        .heading {
          margin-bottom: 40px;

          h3 {
            font-size: 24px;
            line-height: 30px;
          }
        }

        .content {
          p {
            font-size: 16px;
            line-height: 24px;
          }

          textarea {
            min-height: 150px;
          }
        }

        .getin-touch-box {
          padding: 30px 25px;
        }
      }
    }
  }

  .footer-section {
    padding-top: 40px;

    .footer-top {
      height: 170px;
    }

    .social-media {
      margin-bottom: 55px;
    }

    .footer-content ul {
      margin-bottom: 0;

      li {
        width: 49%;
        margin-bottom: 5px;

        a {
          font-size: 14px;
          line-height: 30px;
        }
      }
    }

    .address-link ul {
      margin-top: 20px;

      li {
        width: 100%;
        font-size: 14px;
        line-height: 26px;
      }
    }

    .footer-content-link {
      padding: 20px 0 0 0;
    }

    .footer-content {
      margin-bottom: 0;
    }

    .copy-right-text {
      padding-bottom: 40px;

      .footer-links-bottom {
        text-align: center;
      }

      p {
        font-size: 12px;
        margin-left: 0;
      }
    }
  }
}

@media (min-width: 1024px) and (max-width: 1130px) {
  // no css

  .header .navbar .collapse1 .navbar-nav .nav-item a {
    font-size: 16px;
    padding: 8px 10px;
    white-space: nowrap;
    line-height: 40px;
  }

  .header .navbar .collapse1 .navbar-nav .nav-item.nav-btn {
    padding-left: 30px !important;

    .btn.btn {
      background-color: #0f2d1f !important;
      color: #fff !important;
    }

    a.btn {
      padding: 8px 20px !important;
    }
  }
}

/* Portrait */

@media (min-width: 768px) and (max-width: 1024px) {
  body {
    overflow-x: hidden;
    width: 100%;
  }

  .header {
    .navbar {
      padding: 0 0;
      z-index: 999;

      .search-bar {
        padding: 0 75px 0 20px;
        position: absolute;
        bottom: -52px;
        left: 0;
        width: 100%;
      }

      .row-100 {
        .col-12 {
          padding: 0 15px;
        }
      }

      .col-header {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;

        .col-30 {
          flex: 0 0 20%;
          max-width: 20%;
        }

        .col-70 {
          flex: 0 0 80%;
          max-width: 80%;
        }
      }

      .navbar-brand {
        padding: 10px 0 0 0;
        img {
          width: 80px;
        }
      }

      .navbar-collapse {
        padding: 10px 0;

        .navbar-nav {
          flex-direction: column !important;
          margin-left: 0 !important;
          width: 100%;
          padding: 20px 0 0 0;

          .nav-item {
            padding: 0;
            border-bottom: 1px solid rgba(66, 94, 112, 0.03);
            width: 100%;

            a {
              padding: 12px 12px;
              font-weight: 400;
              font-size: 16px;
              white-space: nowrap;
              height: 50px;
              border: 0;
            }

            .sub-menu {
              background-color: #fff;
              padding: 0;
              max-width: unset;
              min-width: unset;
              width: 100%;
              position: relative;

              li {
                float: none;
                width: 100%;
                min-width: unset;

                a {
                  height: unset;
                  width: 100%;

                  &:hover {
                    background-color: #fafafa;
                    color: #012436;
                  }
                }

                &:nth-child(7),
                &:nth-child(8),
                &:nth-child(9) {
                  border-bottom: 1px solid rgba(1, 36, 54, 0.05) !important;
                }
              }
            }

            .sub-menu.sub-menu-lg {
              background-color: #fff;
              padding: 0;
              max-width: unset;
              min-width: unset;
              width: 100%;
              position: relative;

              li {
                float: none;
                width: 100%;
                min-width: unset;

                a {
                  height: unset;
                  width: 100%;

                  &:hover {
                    background-color: #fafafa;
                    color: #012436;
                  }
                }

                &:nth-child(7),
                &:nth-child(8),
                &:nth-child(9) {
                  border-bottom: 1px solid rgba(1, 36, 54, 0.05) !important;
                }
              }
            }
          }

          .nav-btn {
            padding-left: 22px !important;

            .btn.btn {
              background-color: #0f2d1f !important;
              color: #fff !important;
            }
          }
        }
      }

      .navbar-toggler {
        color: #fff;
        padding: 0;
        outline: 0;
        position: absolute;
        right: 15px;
        top: -20px;
        border: 0;
        display: block;

        .navbar-toggler-icon {
          background-color: transparent;
          background-image: url("../../assets/images/menubar.png");
          background-repeat: no-repeat;
          background-size: contain;
          height: 40px;
          width: 40px;
          border: 0;
        }
      }
    }

    &.header-color {
      .navbar {
        .collapse1 {
          .navbar-nav {
            background-color: #2d81c2 !important;
            a {
              color: #fff;
              &:hover {
                color: #fff;
              }

              &.active {
                color: #fff;
              }
            }
          }
        }
      }
    }
  }

  .header .fixed-top.navbar .navbar-brand {
    position: unset;
    width: 100px;
  }

  .user-account {
    padding-right: 60px;

    ul {
      li {
        a {
          padding: 7px 15px;
          font-size: 22px;
        }
      }
    }
  }

  #cd-shadow-layer {
    position: fixed;
    min-height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(66, 95, 112, 0.5);
    cursor: pointer;
    display: none;
    z-index: 99999;
  }

  .sidenav-new-menu {
    height: 100%;
    min-height: 100vh;
    position: fixed;
    top: 0;
    overflow-y: auto;
    overflow-x: hidden;
    transition: 0.5s;
    z-index: 999999;
    background-color: #fff;
    padding: 40px 0 20px 0 !important;
    flex-basis: auto;
    justify-content: flex-start;
    align-items: flex-start;
    width: 300px;
    right: -400px;
  }

  .width-menu {
    // width: 35%;
    right: 0;
    display: block !important;
  }

  .closebtn {
    display: block !important;
    color: #fff;
    text-decoration: none;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;

    img {
      width: 20px;
      height: 20px;
    }

    &:hover {
      display: block;
      color: #fff;
      text-decoration: none;
    }
  }

  .middle-section {
    .home-banner-section {
      .banner-div {
        .banner-caption {
          .content {
            h2 {
              font-size: 42px;
              line-height: 56px;
            }
          }
        }
      }
    }

    .shop-now-section {
      &::before {
        height: 160px;
        width: 160px;
        top: -80px;
        right: 35px;
      }

      .owl-theme {
        .owl-nav {
          .owl-prev {
            left: -30px;
            background-color: #fff;
          }

          .owl-next {
            right: -30px;
            background-color: #fff;
          }
        }
      }
    }

    .our-customer-section {
      .owl-theme {
        .owl-nav {
          .owl-prev {
            left: -30px;
            background-color: #fff;
          }

          .owl-next {
            right: -30px;
            background-color: #fff;
          }
        }
      }
    }
  }

  .footer-section {
    .footer-content {
      ul {
        li {
          a {
            font-size: 16px;
            line-height: 32px;
          }
        }
      }
    }
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
  // middle section

  .footer-section {
    .footer-content ul li {
      width: 100%;
    }

    .social-media {
      margin-top: 30px;
    }
  }
}

/* Landscape */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
  .header {
    .navbar {
      .collapse1 {
        .navbar-nav {
          .nav-item {
            a {
              font-size: 16px;
              font-weight: 400;
              line-height: 30px;
              padding: 8px 15px;
            }
          }

          .nav-item.nav-btn {
            padding-left: 10px !important;
          }
        }
      }
    }
  }

  .footer-section {
    .social-media {
      margin-top: 30px;
    }
  }
}

/* ----------- iPad Pro ----------- */

@media only screen and (min-width: 1024px) and (max-height: 1366px) and (-webkit-min-device-pixel-ratio: 1.5) {
  /* ----------- No css ----------- */
}

@media only screen and (min-width: 1024px) and (max-height: 1366px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1.5) {
  .middle-section .home-banner-section .banner-box {
    margin: 0 0 130px 0;
  }
}

@media only screen and (min-width: 1024px) and (max-height: 1366px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1.5) {
  /* ----------- No css ----------- */
}

@media (min-width: 1024px) {
  .nav-item.dropdown {
    &:hover {
      .sub-menu {
        display: block !important;
      }
    }
  }
}